.cart-filled-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 80px;
}

.cart-clear-btn {
  margin-left: auto;
  border: none;
  background-color: inherit;

  color: var(--text-color, #010101);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-clear-span {
  margin-left: 8px;
  margin-top: 4px;
}

.cart-clear-icon {
}

.cart-order-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* max-height: 670px; */
  /* overflow-y: auto; */

  scrollbar-color: #888 #eee;
  /* scrollbar-width: thin; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 117px;
}

::-webkit-scrollbar-thumb {
  background: rgba(1, 1, 1, 0.08);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

.cart-order-item {
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.cart-remove-btn {
  margin-left: auto;
  border: none;
  background-color: inherit;
}

.cart-remove-span {
}

.cart-remove-icon {
}

.cart-remove-svg {
}

.cart-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-order-img {
  width: 100px;
  height: 100px;
}

.cart-order-img-cont {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fafafa;
}

.cart-order-desc {
  margin-left: 20px;
}

.cart-order-title {
  color: var(--text-color, #010101);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
}

.cart-order-text {
  width: 215px;
  color: var(--text-color, #010101);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  margin-right: 8px;
  margin-top: 10px;
}

.cart-order-span {
  color: var(--backdrop-color-loader, rgba(1, 1, 1, 0.3));
  margin-right: 4px;
}

.cart-order-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}

.cart-order-price {
}

.cart-order-amount {
  margin-right: 15px;

  border-radius: 100px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  padding: 4px 14px;
}

.cart-order-incr {
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.cart-order-quantity {
  color: var(--text-color, #010101);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.cart-order-decr {
  border: none;
  background-color: inherit;
  font-size: 20px;
}

@media screen and (min-width: 768px) {

  .cart-order-list {
    max-height: 520px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 200px;

    scrollbar-color: #888 #eee;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 190px;
  }

  .cart-order-item {
    width: 672px;
    display: flex;
    align-items: start;
  }

  .cart-remove-btn {
    margin-right: 30px;
  }

  .cart-order-amount {
    margin-left: 380px;
  }
}

@media screen and (min-width: 1440px) {
  .cart-order-list {
    max-height: 650px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 200px;

  }

  .cart-clear-btn {
    margin-right: 120px;
    margin-bottom: 46px;
  }

  .cart-filled-list {
    width: 50%;
    align-items: flex-start;
  }

  .cart-order-item {
    width: 500px;
  }

  .cart-order-amount {
    margin-left: 210px;
  }

}
