.pagination-section {
  display: flex;
  justify-content: center;
}

.conteiner-pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 472px;
}

.pagination-btn {
  border: none;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* .pagination-btn {
  display: none;
}

/* Показати кнопку, якщо є тільки одна дитина (одна кнопка) */
/* .pagination-btn:only-child {
  display: flex;
} */

.pagination-svg {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 60px;
  background-color: #fafafa;
  fill: transparent;
  stroke: #a3a3a3;
  transition: all 300ms ease-in-out;
}

.pagination-svg:hover,
.pagination-svg:focus,
.pagination-svg:active {
  cursor: pointer;
  border-radius: 60px;
  background-color: #6d8434;
  stroke: #e8e8e2;
}

.pagination-list {
  gap: 8px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.pagi_item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
  transition: all 300ms ease-in-out;
}

.pagi_item:hover,
.pagi_item:focus,
.pagi_item:active {
  cursor: pointer;
  border-radius: 60px;
  background-color: #6d8434;
  color: #e8e8e2;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.pagi_item_span {
  padding: 10px 16px;
}

.isActive {
  background-color: #6d8434;
  color: #e8e8e2;
}
