.popular_title {
  font-size: 24px;
  margin-bottom: 20px;
}
.popular_container {
  position: relative;
}

.popular_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.popular_products_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.popular-icon-check {
  stroke: var(--brand-color);
  fill: transparent;
  display: none;
}
.popular-icon-check:hover {
  stroke: var(--color-on-grin);
  /* fill: #6d8434; */
  display: none;
}

.popular_list_card {
  display: flex;
  height: 98px;
  border-radius: 10px;
  background-color: var(--product-card-bg-color);
  padding: 12px;
  position: relative;
  gap: 10px;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.popular_list_card:hover {
  box-shadow: var(--product-cards-hover-shadow);
  transform: scale(1.01);
}

.popular_image_container {
  width: 74px;
  height: 74px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.popular_order_btn {
  border-radius: 30px;
  padding: 4px;
  /* width: 20px; */
  /* height: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: var(--color-on-grin);
  position: absolute;
  right: 12px;
  top: 12px;
  transition: background-color 300ms ease-in-out;
}
.popular_discount_icon {
  fill: var(--color-on-grin);
  background-color: var(--hover-color);
}
.popular-icon {
  fill: var(--brand-color);
  transition: fill 300ms ease-in-out;
}

.popular_order_btn:hover {
  background-color: var(--hover-color);
}

.popular_order_btn:hover .popular-icon {
  fill: var(--color-on-grin);
}

.popular_order_btn:hover .popular-icon-check {
  stroke: var(--color-on-grin);
  display: block;
}

.popular_product_title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.popular_details_category {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--backdrop-color-loader);
}

.popular_details_text {
  color: var(--text-color);
}

.popular_details {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.popular_detail_wrap {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

@media screen and (min-width: 768px) {
  .popular_products_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
  }

  .popular_list_card {
    width: 275px;
  }

  .popular_title {
    font-size: 28px;
  }

  .popular_product_title {
    font-size: 20px;
    line-height: 24px;
  }

  .popular_details {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .popular_products_list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .popular_container {
    width: 275px;
    height: 594px;
  }
}
