
    <div class="cart-total">
        <p class="total-form-title">Your Order</p>

        <div id="total-price">
            <form id="cartForm">
                <label for="totalPrice"></label>
                <input class="total-input" type="text" id="totalPrice" name="totalPrice" 
                placeholder="Total"
                readonly>
            </form>
        </div>
        
        <form id="checkoutForm">
            <label for="email"></label>
            <input class="checkout-input" type="email" id="email" name="email" 
                       placeholder='Mail: Enter your email' 
                       required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                   
                
              <button type="submit">Checkout</button>
                    </form>

    </div>
