<!-- ! Empty cart start -->

<div class="cart-empty">
  <div class="cart-empty-desc">
    <img
      src="../../img/shopingPic-x1.png"
      srcset="../../img/shopingPic-x1.png 1x, ../../img/shopingBasket-x2.png 2x"
      alt="Shopping Basket"
    />
    <h2>Your basket is <span class="cart-empty-cgreen">empty...</span></h2>
    <p class="cart-empty-text">
      Go to the main page to select your favorite products and add them to the
      cart.
    </p>
  </div>
</div>

  <!-- ! Empty cart end -->