<footer class="footer">
  <div class="container footer-container">
    <div class="footer-main-part">
      <div class="first-part-footer">
        <a class="link-logo-footer" href="./index.html">
          <span class="footer-span-logo">
            <svg class="logo-icon-footer">
              <use xlink:href="/img/sprite.svg#cabbage"></use>
            </svg>
          </span>
          <svg class="footer-logo-icon-text">
            <use xlink:href="/img/sprite.svg#icon-Food-Boutique"></use>
          </svg>
        </a>
        <ul class="list-social-footer">
          <li class="item-social-footer">
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              ><svg class="item-icon-footer">
                <use xlink:href="/img/sprite.svg#icon-Frame-52"></use></svg
            ></a>
          </li>
          <li class="item-social-footer">
            <a href="https://www.instagram.com/goitclub/ " target="_blank"
              ><svg class="item-icon-footer">
                <use xlink:href="/img/sprite.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="item-social-footer">
            <a href="https://www.youtube.com/c/GoIT" target="_blank"
              ><svg class="item-icon-footer">
                <use xlink:href="/img/sprite.svg#icon-Frame-60"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="second-part-footer">
        <div>
          <h2 class="footer-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="text-descr-footer">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form-cover">
          <p class="text-footer">Subscribe and learn about new products!</p>
          <form class="footer-form footer-form-js">
            <label class="label-form-footer">
              <input
                class="footer-subscribe-input"
                type="email"
                name="subscribe"
                id="subscribe"
                placeholder="Email"
              />
            </label>
            <button class="footer-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-add-info">
      <p class="text-footer-add">Food Boutique. All rights reserved.</p>
      <div class="footer-more-info">
        <a href="#" class="text-footer-add">Privacy Policy</a>
        <span class="text-footer">/</span>
        <a href="#" class="text-footer-add">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
