<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="header__nav_list_item_logo">
          <a class="nav_link_logo" href="./index.html" aria-label="Home">
            <span class="header__nav_span_logo">
              <svg class="logo_icon" width="16" height="16">
                <use xlink:href="/img/sprite.svg#cabbage"></use>
              </svg>
            </span>
            <svg class="logo_icon_text" width="16" height="16">
              <use xlink:href="/img/sprite.svg#icon-Food-Boutique"></use>
            </svg>
          </a>
        </li>
        <li class="header__list_item">
          <a class="header__nav_link_home nav_link" href="./index.html">Home</a>
        </li>

        <li class="header__list_item">
          <a
            class="header__nav_link_cart"
            href="./cart-page.html"
            aria-label="link to the cart page"
          >
            <span class="header__nav_span_cart"
              ><svg class="cart_icon" width="14" height="14">
                <use
                  class="cart_logo_svg"
                  xlink:href="/img/sprite.svg#shopping-cart"
                ></use>
              </svg>
            </span>
            <span class="header__nav_cart_text header__js_span"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
