<div class="backdrop js-backdrop visually-hidden">
  <!-- Subscription has been already done -->
  <div class="modal modal-first-case js-modal-first-case visually-hidden">
    <div class="modal-title-position">
      <h3 class="modal-title">
        This <span class="modal-title-span">email adress</span> has already been
        entered
      </h3>
    </div>
    <p class="modal-text">
      You have already subscribed to our new products. Watch for offers at the
      mailing address.
    </p>
    <button
      class="modal-btn-close js-close"
      aria-label="modal-btn-close js-close"
      type="button"
    >
      <svg class="icon-close">
        <use href="./img/sprite.svg#close-cross"></use>
      </svg>
    </button>
  </div>
  <!-- Subscription success -->
  <div class="modal modal-second-case js-modal-second-case visually-hidden">
    <div class="modal-title-position">
      <h3 class="modal-title">
        Thanks for subscribing for
        <span class="modal-title-span">new</span> products
      </h3>
    </div>
    <p class="modal-text">
      We promise you organic and high-quality products that will meet your
      expectations. Please stay with us and we promise you many pleasant
      surprises.
    </p>
    <button
      class="modal-btn-close js-close"
      type="button"
      aria-label="close modal button"
    >
      <svg class="icon-close" aria-label="close icon">
        <use href="./img/sprite.svg#close-cross"></use>
      </svg>
    </button>
    <img
      class="modal-subscription-img"
      src="./img/modalPic-x2.png"
      alt="vegetables"
    />
  </div>
  <!-- Order success -->
  <div class="modal modal-order visually-hidden js-checkout-modal">
    <div class="modal-cart-img-position">
      <img
        class="modal-cart-img"
        src="./img/modal-cart-1x.png"
        alt="tomatoes"
        width="140"
        height="140"
      />
      <img
        class="modal-cart-shadow"
        src="./img/modal-cart-shadow-1x.png"
        alt="shadow"
      />
    </div>
    <h3 class="modal-title-cart">Order success</h3>
    <p class="modal-cart-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
    <button
      class="modal-btn-close js-close"
      type="button"
      aria-label="close modal button"
    >
      <svg class="icon-close" aria-label="close icon">
        <use href="./img/sprite.svg#close-cross"></use>
      </svg>
    </button>
  </div>
  <!-- Modal card -->
  <div
    class="modal modal-product-card js-modal-product-card visually-hidden"
  ></div>
</div>
