/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./homePageCss/hero.css');
@import url('./homePageCss/filtersAndSearch.css');
@import url('./homePageCss/productsList.css');
@import url('./homePageCss/discount.css');
@import url('./homePageCss/popular.css');
@import url('./cartPage/cartList.css');
@import url('./cartPage/cartEmpty.css');
@import url('./cartPage/cartTotal.css');
@import url('./cartPage/CartWareCount.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./homePageCss/pagination.css');

@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Regular.eot');
  src: local('Neue Montreal Regular'), local('NeueMontreal-Regular'),
    url('./fonts/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Regular.woff') format('woff'),
    url('./fonts/NeueMontreal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./fonts/NeueMontreal-Medium.eot');
  src: local('Neue Montreal Medium'), local('NeueMontreal-Medium'),
    url('./fonts/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NeueMontreal-Medium.woff2') format('woff2'),
    url('./fonts/NeueMontreal-Medium.woff') format('woff'),
    url('./fonts/NeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: 'PPNeueMontreal';
  src: url('./fonts/PPNeueMontreal-Medium.otf') format('otf'),
    url('./fonts/PPNeueMontreal-Book.otf') format('otf');
} */

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;

  color: #010101;
  --text-color: #010101;
  --color-on-grin: #e8e8e2;
  --background-color: #e8e8e2;

  --secondary-color: rgba(1, 1, 1, 0.8);
  --light-font-color: rgba(28, 16, 16, 0.3);
  --brand-color: #6d8434;

  --hover-color: #586f1f;

  --organic-food-label-color: #fdc152;

  --backdrop-color: rgba(1, 1, 1, 0.4);
  --backdrop-color-loader: rgba(1, 1, 1, 0.3);

  --cart-list-border: rgba(1, 1, 1, 0.1);
  --total-price-bg-color: rgba(109, 132, 52, 0.05);
  --placeholder-text: rgba(1, 1, 1, 0.5);
  --input-border-color: rgba(1, 1, 1, 0.3);
  --total-sum-text: rgba(1, 1, 1, 0.2);

  --product-description-color: rgba(1, 1, 1, 0.3);
  --product-card-bg-color: #fafafa;
  --product-cards-hover-shadow: 0px 9.1px 16.534px 0px rgba(0, 0, 0, 0.02),
    0px 41.6px 46.475px 0px rgba(0, 0, 0, 0.04),
    0px 105.3px 124.678px 0px rgba(0, 0, 0, 0.05),
    0px 208px 286px 0px rgba(0, 0, 0, 0.07);

  --modal-text: rgba(1, 1, 1, 0.7);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #e8e8e2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}

footer {
  background-color: var(--brand-color, #6d8434);
}

.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    /* width:335px; */
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
    /* width:335px; */
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1250px;
  }
}

.btn-up {
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor: pointer;
  background-color: var(--brand-color, #6d8434);
  color: var(--color-on-grin, #e8e8e2);
  font-size: 35px;
  background-size: cover;
  border: none;
  border-radius: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 300ms ease-in-out;
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 35px;
  opacity: 0.9;
  box-shadow: 1px 1px 4px rgb(31, 41, 14);
}

.btn-up:hover {
  opacity: 1;
  background-color: var(--hover-color, #586f1f);
  box-shadow: none;
  transform: scale(1.1);
}

.arrow-up-icon {
  transition: all 300ms ease-in-out;
  stroke: #e8e8e2;
  fill: var(--brand-color, #6d8434);
}
.arrow-up {
  transform: rotate(90deg);
}

.btn-up:hover .arrow-up-icon {
  fill: var(--hover-color, #586f1f);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--backdrop-color-loader, rgba(236, 235, 235, 0.1));
  z-index: 9999;
}

.loader {
  color: #e4fab2;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.father_div {
  display: flex;
  justify-content: space-between;
}

.child_div_two {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
