.cart-ware-count {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  padding-top: 70px;
}

.cart-svg-span {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-color, #6d8434);
  padding: 12px;
  border-radius: 50%;
  position: relative;
  transition: background-color 300ms ease-in-out;
}

.cart-svg-span:hover {
  background-color: var(--hover-color, #586f1f);
}

.cart-count-icon {
  fill: var(--color-on-grin, #e8e8e2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cart-count {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .cart-count {
  font-size: 32px;
  line-height: 1;
  }
}
