<div class="filter__section">
  <div class="container">
    <h2 class="filter__name">Filters:</h2>
    <form id="filterForm" class="filters-from">
      <div class="filter__position">
        <label for="keywordInput" class="visually-hidden"
          >Search for anything</label
        >
        <input
          type="text"
          id="keywordInput"
          placeholder="Search for anything"
          aria-labelledby="keywordLabel"
        />
        <button class="filter-button d-flex" type="submit" aria-label="Search">
          <svg class="svg__search" width="20" height="20">
            <use href="./img/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
      <div class="filter__position">
        <button
          id="categorySelect"
          class="categorySelectClass d-flex"
          aria-haspopup="listbox"
          aria-expanded="false"
        >
          Categories
        </button>
        <svg class="svg__category" width="14" height="14">
          <use xlink:href="./img/sprite.svg#down-vector"></use>
        </svg>
        <ul
          class="category-list"
          role="listbox"
          aria-labelledby="categorySelect"
        >
          <!-- Populate with categories dynamically -->
        </ul>
      </div>
      <div class="filter__position">
        <button
          id="sortProducts"
          class="d-flex"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="false"
        >
          A to Z
        </button>
        <ul
          class="sortProducts-list"
          role="listbox"
          aria-labelledby="sortProducts"
        >
          <li class="category-item" data-value="alphabetical">A to Z</li>
          <li class="category-item" data-value="reverse-alphabetical">
            Z to A
          </li>
          <li class="category-item" data-value="cheap">Cheap</li>
          <li class="category-item" data-value="expensive">Expensive</li>
          <li class="category-item" data-value="popular">Popular</li>
          <li class="category-item" data-value="not-popular">Not popular</li>
          <li class="category-item" data-value="all">Show all</li>
        </ul>
        <svg class="svg__category_use" width="14" height="14">
          <use xlink:href="./img/sprite.svg#down-vector"></use>
        </svg>
      </div>
    </form>
  </div>
</div>
