<section class="pagination-section">
  <div class="conteiner-pagination">
    <button type="button" class="pagination-btn back">
      <svg class="pagination-svg back" width="40" height="40">
        <use href="/img/sprite.svg#icon-caret-small-left"></use>
      </svg>
    </button>
    <ul class="pagination-list"></ul>
    <button type="button" class="pagination-btn forward">
      <svg
        class="pagination-svg flip-horizontal forward"
        width="40"
        height="40"
      >
        <use href="/img/sprite.svg#icon-caret-small-left"></use>
      </svg>
    </button>
  </div>
</section>
