<section class="discount-section">
  <h2 class="discount-title">Discount products</h2>
  <ul class="discount-card-list">
    <li class="discount-card">
      <a href="" class="discount-card-link">
        <div class="img-field">
          <img
            class="discount-product-img"
            src="../img/shopingPic-x1.png"
            alt=""
          />
        </div>
        <div class="discount-product-info">
          <p class="discount-product-name">Apricot</p>
          <div class="discount-product-buy">
            <p class="discount-product-price">
              $<span class="js-discount-product-price">0.00</span>
            </p>
            <button class="discount-cart-btn" type="button">
              <svg class="discount-cart-icon" width="18" height="18">
                <use href="../img/sprite.svg#shopping-cart"></use>
              </svg>
            </button>
          </div>
        </div>
        <svg class="discount-label-icon" width="60" height="60">
          <use href="../img/sprite.svg#discount"></use>
        </svg>
      </a>
    </li>

    <li class="discount-card">
      <a href="" class="discount-card-link">
        <div class="img-field">
          <img
            class="discount-product-img"
            src="../img/shopingPic-x1.png"
            alt=""
          />
        </div>
        <div class="discount-product-info">
          <p class="discount-product-name">Apricot</p>
          <div class="discount-product-buy">
            <p class="discount-product-price">
              $<span class="js-discount-product-price">0.00</span>
            </p>
            <button class="discount-cart-btn" type="button">
              <svg class="discount-check-icon" width="18" height="18">
                <use href="../img/sprite.svg#check"></use>
              </svg>
            </button>
          </div>
        </div>
        <svg class="discount-label-icon" width="60" height="60">
          <use href="../img/sprite.svg#discount"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
