<section class="filter__section">
    <div class="container">
        <form id="filterForm">
            <label>
              Keyword:
              <input type="text" id="keywordInput" />
            </label>
            <label>
              Category:
              <select id="categorySelect">
                <option value="Show all">Show all</option>
                <!-- категорії з сервера -->
              </select>
            </label>
            <button type="submit">Search</button>
        </form>
        
        <div id="productsList"></div>
    </div>
</section>