<section class="filter__section">
    <div class="container">
        <p class="filter__name">Filters:</p>
        <form id="filterForm">
            <div class="filter__position">
                <label>
                    <input type="text" id="keywordInput" placeholder="Search for anything" />
                    <svg class="svg__search" width="20" height="20">
                        <use href="./img/sprite.svg#search"></use>
                    </svg>
                </label>
            </div>
            <div class="filter__position">
                <button id="categorySelect">Categories</button>
                <ul class="category-list">
                    <!-- категорії з сервера -->
                </ul>
                <svg class="svg__category" width="20" height="20">
                    <use xlink:href="./img/sprite.svg#down-vector"></use>
                </svg>
            </div>
        </form>
    </div>
</section>