<section class="pagination-section">
  <div class="pagination-conteiner">
    <button class="pagination-btn back">
      <svg class="pagination-svg" width="40" height="40">
        <use href="/img/sprite.svg#icon-caret-small-left"></use>
      </svg>
    </button>
    <ul class="pagination-list">
      <li class="pagination-item">1</li>
      <li class="pagination-item">2</li>
      <li class="pagination-item">3</li>
      <li class="pagination-item">4</li>
      <li class="pagination-item">5</li>
    </ul>
    <button class="pagination-btn forward">
      <svg class="pagination-svg flip-horizontal" width="40" height="40">
        <use href="/img/sprite.svg#icon-caret-small-left"></use>
      </svg>
    </button>
  </div>
</section>
