<section class="popular_product_section">
  <div class="container popular_container">
    <h3 class="popular_title">Popular products</h3>
    <ul class="popular_products-list">
      <!--Ця частина буде відмальовуватись по запиту-->
      <!--Картка 1-->
      <li class="popular_list_card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="popular_image_container">
          <img
            class="popular_image"
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt="asd"
            width="56"
            height="56"
          />
        </div>
        <div class="popular_description_container">
          <h4 class="popular_product_title">Ackee</h4>
          <ul class="popular_details">
            <li class="popular_details_item">
              <p class="popular_details_category">
                Category:<span class="popular_details_text">Fresh Produce</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Size:<span class="popular_details_text">16 oz</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Popularity:<span class="popular_details_text">3</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="popular_order_container">
          <button class="popular_order_btn">
            <svg class="card-icon" width="12" height="12">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <!--Картка 2-->
      <li class="popular_list_card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="popular_image_container">
          <img
            class="popular_image"
            src="https://s3-alpha-sig.figma.com/img/ad23/67f1/3f9f0ff82fc1b53b5c87e0d517a7de2c?Expires=1702857600&Signature=YeyXele0gpTMV7tXOOq6~fVsWXOrkIHsEHOTpUrU60Be28lGvZ3eXaDpoe~hXG-CDlenfGiWsTs4~u5UUs5WhuAVtf-Rt2ioZ8cqFNib8UUsVP-huR64d7KkxTREg6EjZ23uJWL7~1WVpEuf8wnjs9yyc6RSdx42zoWCmCq~4xypHexzWr0G~gvPo8o9ptTe1wV2gj5wECmbtD7DVeyqcPvlegBGT-7IT1mq7nBAQApJpXlF-8geaqTKwZD8KfrgNeK7eZo1BulHbB2qSCLuYE3OFe3TEWumFdb18tGlAStDh~5hBCxwl-ebgx-JtSuZEtQVO-s6SAiCQSDfXJQ0XA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="asd"
            width="56"
            height="56"
          />
        </div>
        <div class="popular_description_container">
          <h4 class="popular_product_title">Chiken</h4>
          <ul class="popular_details">
            <li class="popular_details_item">
              <p class="popular_details_category">
                Category:<span class="popular_details_text"
                  >Meat & Seasfood</span
                >
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Size:<span class="popular_details_text">1.5 kg</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Popularity:<span class="popular_details_text">2</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="popular_order_container">
          <button class="popular_order_btn">
            <svg class="card-icon" width="12" height="12">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <!--Картка 3-->
      <li class="popular_list_card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="popular_image_container">
          <img
            class="popular_image"
            src="https://s3-alpha-sig.figma.com/img/ef32/1f87/8379f4d3bd4dae47663d361839f5fc18?Expires=1702857600&Signature=X~SX2PsXo1xxgF4BUOpJg1G9YrdZgSnkN25yDLscE2YTKwpWoee7jFE7~0uednl6~YI9qruju4NK5ESndywkoBv7PGOYke1hHqtEENP~1612QNICpCKEM7f28v-ax5Qce0XfjX8nWr0PLMUcJL9Si5nFVcV~rIpMRwOXhteU~brG9z0b-D1XfZHL2F5qiHJmzcUD3f4~a-pD~dKQeeqsvX3s9oa7qlU8mHlHTRLjChM5N-~F2Kl~qJIWoa-LO21JYqjE2KfL~954S47MgvDYZey7712LCjhr0vNe-6vR5uktNyphBZeWoSgeRtYDsB31-q7RGkWqwccyAJd-LvjjwQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="asd"
            width="56"
            height="56"
          />
        </div>
        <div class="popular_description_container">
          <h4 class="popular_product_title">Salmon</h4>
          <ul class="popular_details">
            <li class="popular_details_item">
              <p class="popular_details_category">
                Category:<span class="popular_details_text"
                  >Meat & Seasfood</span
                >
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Size:<span class="popular_details_text">1 kg</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Popularity:<span class="popular_details_text">1</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="popular_order_container">
          <button class="popular_order_btn">
            <svg class="card-icon" width="12" height="12">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <!--Картка 4-->
      <li class="popular_list_card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="popular_image_container">
          <img
            class="popular_image"
            src="https://s3-alpha-sig.figma.com/img/720b/eb85/3bd40665aa5713dbb6b65b0ddda61240?Expires=1702857600&Signature=DaNCkeR6NTmdYU9grkBBmVIlwYDcP1VKFGro0f18UfyT04oC9dQC6TsLaDstnALyUwsFW4mdRMi6JsrG2tvV0~9SGIKtfiobr8DhZ5vb~4T4L6r8hZM~rPkqbJKf63Vn2wSvS16Da8xj8aVnmoaoYC7cvnnGiJ5y15txHrtjrqhw9vXH6y9K5rai42KpEoLg~2cGBPgQBH2~4vStGN5pm6NlglczpgsRGreEwd6NUQiRPwjDJW-zs719-9O7P06aZAFYG81gIo~KukaDfM9xECkXTg7EUbKTItERXJ1ZSTJKZCy-7IEBihe0bNKtGHkDMyVcitJ-62OWd3ELOqNZFw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="asd"
            width="56"
            height="56"
          />
        </div>
        <div class="popular_description_container">
          <h4 class="popular_product_title">Allspice</h4>
          <ul class="popular_details">
            <li class="popular_details_item">
              <p class="popular_details_category">
                Category:<span class="popular_details_text">Pantry Items</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Size:<span class="popular_details_text">1.5 oz</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Popularity:<span class="popular_details_text">1</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="popular_order_container">
          <button class="popular_order_btn">
            <svg class="card-icon" width="12" height="12">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <!--Картка 5-->
      <li class="popular_list_card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="popular_image_container">
          <img
            class="popular_image"
            src="https://s3-alpha-sig.figma.com/img/feca/25f8/0e7ade440e81e8ec38a3d38be778239a?Expires=1702857600&Signature=RtSpP1VvkyzFrLzbxmnw9x9Y-D9A3ZY2oxm6IWdMEqI~UzBoO7g6ohClJ~cJLET-KcGM6vknxd9ZXJW94-oJgASdAe8EEqSZ~-McCLyNWUl~8UeFhaI89tREOzTSepwQmEgguL7S4XYShdJyIzdspgHuSRkLvNqDPq0XhR~Y1fLxSEcyhnACg-0vuUm2EirJuV4pMeArw3eZMmq7Rk9mHZZPv72wrrxd43kDD1UzQ0S86v7VoExY6Vbi40hOEFu3ZzIYv6DAXGcRnSFhDN0T8-jyLEUq-w-E0wG-j6jC6VgyuCnK7zWiLc3Nlwc40W2502TF2wofSII7kl~lSZS9mg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt="asd"
            width="56"
            height="56"
          />
        </div>
        <div class="popular_description_container">
          <h4 class="popular_product_title">Beef</h4>
          <ul class="popular_details">
            <li class="popular_details_item">
              <p class="popular_details_category">
                Category:<span class="popular_details_text"
                  >Meat & Seasfood</span
                >
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Size:<span class="popular_details_text">2 kg</span>
              </p>
            </li>
            <li class="popular_details_item">
              <p class="popular_details_category">
                Popularity:<span class="popular_details_text">0</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="popular_order_container">
          <button class="popular_order_btn">
            <svg class="card-icon" width="12" height="12">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <!--Кінець-->
    </ul>
  </div>
</section>
