<section class="productsList__section">
  <h2 class="productsList__section__title visually-hidden">Products</h2>
  <div class="container container__products">
    <ul class="product__list">
      <li class="product__list__card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="product__image__wraper">
          <img
            class="product__image"
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt="asd"
            width="140px"
            height="140px"
          />
        </div>
        <div class="product__description__wraper">
          <h3 class="product__title">Avocado</h3>
          <ul class="product__details">
            <li>
              <p class="product__description__text">
                Category:
                <span class="product__description__span">Fresh Produce</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Size: <span class="product__description__span">Each</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Popularity: <span class="product__description__span">0</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="product__order__wraper">
          <p class="product__price">$1.99</p>
          <button class="product__order__btn">
            <svg class="card-icon" width="18" height="18">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__list__card">
        <svg class="sticker_icon" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="product__image__wraper">
          <img
            class="product__image"
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt="asd"
            width="140px"
            height="140px"
          />
        </div>
        <div class="product__description__wraper">
          <h3 class="product__title">Avocado</h3>
          <ul class="product__details">
            <li>
              <p class="product__description__text">
                Category:
                <span class="product__description__span">Fresh Produce</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Size: <span class="product__description__span">Each</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Popularity: <span class="product__description__span">0</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="product__order__wraper">
          <p class="product__price">$1.99</p>
          <button class="product__order__btn">
            <svg class="card-icon" width="18" height="18">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__list__card">
        <svg class="sticker_icon visually-hidden" width="60" height="60">
          <use xlink:href="./img/sprite.svg#discount"></use>
        </svg>
        <div class="product__image__wraper">
          <img
            class="product__image"
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt="asd"
            width="140px"
            height="140px"
          />
        </div>
        <div class="product__description__wraper">
          <h3 class="product__title">Avocado</h3>
          <ul class="product__details">
            <li>
              <p class="product__description__text">
                Category:
                <span class="product__description__span">Fresh Produce</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Size: <span class="product__description__span">Each</span>
              </p>
            </li>
            <li>
              <p class="product__description__text">
                Popularity: <span class="product__description__span">0</span>
              </p>
            </li>
          </ul>
        </div>
        <div class="product__order__wraper">
          <p class="product__price">$1.99</p>
          <button class="product__order__btn">
            <svg class="card-icon" width="18" height="18">
              <use href="./img/sprite.svg#shopping-cart"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
