<div class="cart_total_order">
  <p class="total-form-title">Your Order</p>

  <div id="total-price">
    <p class="cart_total_input">Total</p>
    <p class="cart_total_sum">
      Sum:<span class="total_price" id="cart_total">$0</span>
    </p>
  </div>

  <div class="input-container-main">
  <form id="checkoutForm">
    <div class="cart_input_container">
      <input
        type="email"
        name="cartsubmit"
        class="cart-basket-input"
        placeholder="Enter your email"
      />
      <span class="placeholder-text">Mail:</span>
    </div>
    <button class="cart_checkout_btn" type="submit" aria-label="Checkout cart">
      Checkout
    </button>
  </form>
</div>
</div>
